* {
    padding: 0;
    margin: 0;
}
#content {
    height: 100vh;
    position: relative;
    padding: 0 166px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lists {
    margin-bottom: 23px;
}
/* #image-side {
    margin-left: 266px;
} */
h1 {
    font-family: Playfair Display;
    font-weight: 900;
    font-size: 72px;
    margin-bottom: 13px;
}
ul {
    padding: 0;
    list-style-type: none;
}
li {
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 30px;
    color: #2D1CF0;
    list-style: none;
}
p {
    font-family: Source Sans Pro;
    font-size: 26px;
}
.accordian {
    max-width: 601px;
    max-height: 451px;
    width: 100%;
    overflow: hidden;
    margin: 100px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}
.accordian ul {
    width: 2000px;
}
.accordian li {
    position: relative;
    display: block;
    width: 160px;
    float: left;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.accordian ul:hover li {
    width: 20px;
}
.accordian ul li:hover {
    width: 640px;
}
.accordian li img {
    display: block;
    min-width: 160px;
    min-height: 429px;
    width: auto;
    height: auto;
}